<my-banner></my-banner>
<style>
.bd{background-color:rgb(0,0,0,0.7);}
.bd-light{background-color:rgb(220,220,220,0.7);}
.bd h1{color:white}

</style>
<div class="container">
  <div class="row m-1 justify-content-around">
    <a routerLink="/shop/men">
      <div class="card mt-1" style="width:20rem">
          <img class="card-img-top" src="../../assets/img/men.jpg" alt="Card image cap">
          <div class="card-body text-center">
               <a routerLink="/shop/men" class="btn btn-block btn-success">Men</a>
          </div>
      </div>
    </a>
    <a routerLink="/shop/women">
      <div class="card mt-1" style="width:20rem">
          <img class="card-img-top" src="../../assets/img/women.jpg" alt="Card image cap">
          <div class="card-body text-center">
               <a routerLink="/shop/women" class="btn btn-block btn-success">Women</a>
          </div>
      </div>
    </a>
    <a routerLink="/shop/kids">
      <div class="card mt-1" style="width:20rem">
          <img class="card-img-top" src="../../assets/img/kid.jpg" alt="Card image cap">
          <div class="card-body text-center">
               <a routerLink="/shop/kids" class="btn btn-block btn-success">Kids</a>
          </div>
      </div>
    </a>
    <!-- <div class="bd col-md-4 text-center pb-1"><h1>Men</h1><img width="300" src="../../assets/img/men.jpg" alt=""></div>
    <div class="bd-light col-md-4 text-center pb-1"><h1>Women</h1><img width="300" src="../../assets/img/women.jpg" alt=""></div>
    <div class="bd col-md-4 text-center pb-1"><h1>Kids</h1><img width="300" src="../../assets/img/kid.jpg" alt=""></div> -->
  </div>
</div>
<br>
<br>
