<style>.navbar{border-bottom:1px grey solid;border-top:4px black solid;min-height:100px;}
       .navbar-brand{color:skyblue}
</style>
<header>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="container">
        <a routerLink="/home" class="navbar-brand"><h1 class="display-4 text-info">AJIO</h1></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav1">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav1">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#">Steals</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Collection</a></li>
                <li class="nav-item"><a routerLink="/shop/men" class="nav-link">Men</a></li>
                <li class="nav-item"><a routerLink="/shop/women" class="nav-link">Women</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Indie</a></li>
                <li  class="nav-item"><a routerLink="/shop/kids" class="nav-link" >Kids</a></li>
                <li class="nav-item">
                  <div class="input-group">
                     <input type="text" class="form-control" placeholder="Search for...">
                     <span class="input-group-btn">
                         <button class="btn btn-info" type="button"><span class="fa fa-search"></span></button>
                     </span>
                 </div>
                </li>
            </ul>
          </div>
        </div>
  </nav>
</header>
